<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<properties>
        <Property name="console-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%level] %logger{36} - %msg%n</Property>
  		<property name="LogRootDir">G:\java-project\project-IntelliJ_IDEA2017.3.5\EquipManageSystem\out\artifacts\logs\</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${console-pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${LogRootDir}/main.log"
                     filePattern="$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${console-pattern}"/>
            <SizeBasedTriggeringPolicy size="1 KB" />
        </RollingFile>
        
        <File name="WebAspect" fileName="${LogRootDir}/webAspect.log" >
            <PatternLayout pattern="${console-pattern}" />
        </File>
     	<File name="ServiceAspect" fileName="${LogRootDir}/serviceAspect.log" >
            <PatternLayout pattern="${console-pattern}" />
        </File>
        
        <Async name="AsyncWebLog">
            <AppenderRef ref="WebAspect"/>
        </Async>
        <Async name="AsyncServiceLog">
            <AppenderRef ref="ServiceAspect"/>
        </Async>
    </appenders>
    
    <loggers>
    	<root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="AsyncWebLog"/>
            <appender-ref ref="AsyncServiceLog"/>
        </root>
        
		<logger name="WebLogger" level="info" additivity="false" >
			<appender-ref ref="AsyncWebLog"/>
		</logger>
		<logger name="ServiceLogger" level="debug" additivity="false" >
			<appender-ref ref="AsyncServiceLog"/>
		</logger>
    </loggers>
</configuration>